
<div class="container">
  <br>
</div>
<footer id="sitefooter" class="row">
  <div class="container text-center">
    <h5>AlexP@2019</h5>
  </div>
  <div class="text-right">
    <a class="btn btn-social btn-github" href="https://github.com/OleksandrProtsiuk/my_shop" >
      GitHub
    </a>
  </div>
</footer>